.navbar {
    padding-top: 3em;
    padding-bottom: 2em;
    margin-bottom: 0px;
    height: 100%;

}

/* form {
    overflow: hidden;
}

input {
    
   
} */


.search {
    position: absolute;
    /* float: right; */
    right: 10px;
    top: 1em;

    border-radius: 20px;
    z-index: 20;


}


.navbar-brand .text-logo {
    color: gray;
}

.big-text-logo {
    font-size: 1.5em;
}

.small-text-logo {
    color: white;
    font-size: 0.6em;
}

pre {
    background-color: #202427;
    border: none;
    padding: 0px;
}

.bg-dark {
    background-color: #202427 !important;
}

nav {
    height: 6em;
}

aside {
    float: right;
    left: 0px;
}

.margin-aside-next {
    margin: 40px 0px;
}



ul {
    list-style: none;
}

/* main {
    height: 20em;
} */
.text-picture h2 {
    font-size: 20px;

}

.text-picture {
    height: 7em;
    bottom: 20px;
    background-color: #202427;
    color: white;
    padding: 20px;
    text-align: left;
    position: relative;

}

.dark-text-color {
    color: gray;
}

.light-text-color {
    color: lightgrey;
}

.social-media {
    top: 1em;
    position: absolute;
    right: 2px;

}

.contact {
    position: relative !important;
}

.new-line-text {
    width: 100vw;
    display: inline-block;
}

.bd-placeholder-img {
    background-size: cover;
    height: 40em;
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery {
    width: 95vw;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 9vw);
    grid-gap: 15px;


}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid rgb(216, 208, 208) 5px;

}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}


.g-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.g-i-foot {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer-img {
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
}

footer {
    width: 100vw;
    background-color: #202427;
    color: white;
    margin-top: 4em;
    /* margin-left: -15px; */
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .well .aside {
        width: 100vw;

    }




    .navbar {
        padding-top: 3em;
        padding-bottom: 2em;
        margin-bottom: 0px;
        height: auto;
        overflow: hidden;


    }
}



@media (min-width: 375px) {
    .col-sm-12 {
        text-align: center;
    }


    /* /* .navbar {
        padding-top: 3em;
        padding-bottom: 2em;
        margin-bottom: 0px;
        height: 100%;

    } 




/* .container-img-footer {
        margin-right: 3em !important;
    } */
}

/* * Mobile - 375px */

/* * Desktop - 1200px */



.im1 {
    background-image: url("https://picsum.photos/1920/1080/?blur=1");
    background-size: cover;
    align-content: center;

}

.im2 {
    background-image: url('../img/coffe2.jpg');
    background-size: cover;
    align-content: center;



}

.im3 {
    background-image: url('../img/coffe3.jpg');
    background-size: cover;
    background-position: center
}

/* Scial media icons */

.fa {
    padding: 1em;
    text-decoration: none;
    margin: 5px 2px;
    display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: grey;
    color: white;
    border-radius: 50%;

}

.fa-facebook {
    background: grey;
    color: white;
    border-radius: 50%;
}

.fa-rss {
    background: grey;
    color: white;
    border-radius: 50%;
}


.fa-google {
    background: grey;
    color: white;
    border-radius: 50%;
}

.fa-yahoo {
    background: grey;
    color: white;
    border-radius: 50%;
}